<app-navigation></app-navigation>
<section id="banner">
    <img src="assets/logo.png" class="logo">
    <div class="banner-text">
        <h1 class="animate__animated animate__pulse animate__slow 1s animate__infinite infinite">Ladies World</h1>
        <p data-aos="fade-down">We're In Now Your Hand</p>
        <div class="banner-btn">
            <a href="https://www.google.com/maps/place/Ladies+World+Tailors/@9.8948766,78.1199914,21z/data=!4m5!3m4!1s0x0:0x32f05842e8170525!8m2!3d9.8947924!4d78.1200373"><span></span>Find Location</a>
            <a href="#"><span></span>Customer Details</a>
        </div>
    </div>
</section>

<!------------------------------------FEATURES--------------------------------->

<section id="feature">
    <div class="title-text">
        <p>FEATURES</p>
        <h1 data-aos="zoom-in-up">Why Choose Us</h1>
    </div>

    <div class="feature-box">
        <div class="feature">
            <h1>Experienced Staff</h1>
            <div class="feature-desc">
                <div class="feature-icon">
                    <i class="fa fa-shield"></i>
                </div>
                <div class="feature-text" data-aos="fade-right">
                    <p>We are very gladly hosted of our design patterns and collection in online. Blouse, Churidar, Aari work, Kundan work, Zardoshi work and All types of designs undertaken.</p>
                </div>
            </div>

            <h1>Pre Booking Online</h1>
            <div class="feature-desc">
                <div class="feature-icon">
                    <i class="fa fa-check-square-o"></i>
                </div>
                <div class="feature-text" data-aos="fade-left">
                    <p>We've 2000+ Blouse, Sudithar neck designs and making our own design based on customer satisfaction, Embrodary work, Jardosi work as well as <b>conducting tailoring classes</b>.</p>
                </div>
            </div>

            <h1>Affordable Cost</h1>
            <div class="feature-desc">
                <div class="feature-icon">
                    <i class="fa fa-inr"></i>
                </div>
                <div class="feature-text" data-aos="fade-right">
                    <p>We conducting Tailoring classes with mid range of cost, Start your career from here and make your fashion dreams from your home .</p>
                </div>
            </div>
        </div>
        <div class="feature-img">
            <img src="assets/img10.jpg" data-aos="flip-left">
        </div>
    </div>
</section>


<!--------------------------------------SERVICES----------------------------------->

<section id="service">
    <div class="title-text">
        <p>SERVICES</p>
        <h1 data-aos="zoom-in-up">We Provide Better</h1>
    </div>

    <div class="service-box">
        <div class="single-service">
            <img src="assets/Aariwork.jpg" class="animate__animated animate__pulse infinite animate__delay-1s animate__slow 1s animate__infinite ">
            <div class="overlay animate__animated animate__pulse infinite animate__delay-1s animate__slow 1s animate__infinite "></div>
            <div class="service-desc">
                <h3>Aari Work</h3>
                <hr>
                <p>We're Conducting a Classes For Aari Work And Providing Stitches For Mid Range Of Cost</p>
            </div>
        </div>
        <div class="single-service">
            <img src="assets/blouse.jpg" class="animate__animated animate__pulse infinite animate__delay-2s animate__slow 2s animate__infinite ">
            <div class="overlay animate__animated animate__pulse infinite animate__delay-2s animate__slow 1s animate__infinite"></div>
            <div class="service-desc">
                <h3>Blouse Design</h3>
                <hr>
                <p>We're Conducting a Classes For Design Blouse And Providing Stitches With Quality Assurance</p>
            </div>
        </div>
        <div class="single-service">
            <img src="assets/churidar.jpg" class="animate__animated animate__pulse infinite animate__delay-2s animate__slow 2s animate__infinite ">
            <div class="overlay animate__animated animate__pulse infinite animate__delay-2s animate__slow 2s animate__infinite"></div>
            <div class="service-desc">
                <h3>Churidar Design</h3>
                <hr>
                <p>We're Conducting a Classes For Design Churidar And Providing Stitches With Quality Assurance</p>
            </div>
        </div>
        <div class="single-service">
            <img src="assets/embrodary.jpg" class="animate__animated animate__pulse infinite animate__delay-1s animate__slow 1s animate__infinite ">
            <div class="overlay animate__animated animate__pulse  infinite animate__delay-1s animate__slow 1s animate__infinite"></div>
            <div class="service-desc">
                <h3>Embrodary Design</h3>
                <hr>
                <p>We're Conducting a Classes For Embrodary And Providing Stitches For Mid Range Of Cost</p>
            </div>
        </div>
    </div>
</section>

<!---------------------------------TESTIMONIAL------------------------------->

<section id="testimonial">
    <div class="title-text">
        <p>TESTIMONIAL</p>
        <h1 data-aos="zoom-in-up">What We Says</h1>
    </div>

    <div class="testimonial-row">
        <div class="testimonial-col" data-aos="zoom-out-right">
            <div class="user">
                <img src="assets/testimonial1.jpeg">
                <div class="user-info">
                    <h4>SATHIYA PRIYA <i class="fa fa-facebook"></i></h4>
                    <small>@sathiyapriya</small>
                </div>
            </div>
            <p>Fashion is more about taste than money , you have to understand your body and tailor clothes to your needs, It's all about the fit. I can do the alterations myself , I'm quite a seamstress , It's the influence of my Hungarian mother.</p>
        </div>
        <div class="testimonial-col" data-aos="zoom-out">
            <div class="user">
                <img src="assets/testimonial2.png">
                <div class="user-info">
                    <h4>VANAJA <i class="fa fa-facebook"></i></h4>
                    <small>@vanaja</small>
                </div>
            </div>
            <p>Clothes make the man. Naked people have little or no influence on society and If you're wearing suits and you want to create your own sense of style and Clothes make the man.</p>
        </div>
        <div class="testimonial-col" data-aos="zoom-out-left">
            <div class="user">
                <img src="assets/testimonial3.png">
                <div class="user-info">
                    <h4>DEVIKA <i class="fa fa-facebook"></i></h4>
                    <small>@devika</small>
                </div>
            </div>
            <p>The prime necessities for success in life are money, athleticism, tailor made clothes and a charming smile , A tailor can adapt to any medium, be it poetry, be it criticism. As a poet, he can mend, and with the scissors of criticism he candivide.</p>
        </div>
    </div>

</section>


<!----------------------------------FOOTER----------------------------------->

<section id="footer">
    <img src="assets/logo.png" class="footer-img">
    <div class="title-text">
        <p>CONTACT</p>
        <h1 data-aos="zoom-in-up">Visit Shop Today</h1>
    </div>

    <div class="footer-row">
        <div class="footer-left" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <h1>Opening Hours</h1>
            <p><i class="fa fa-clock-o"></i> Monday to Friday - 9am to 8pm</p>
            <p><i class="fa fa-clock-o"></i> Saturday and Sunday - 9am to 6pm</p>
            <p><i class="fa fa-phone"></i><a href="tel:+91 9344991565">+91 9344991565</a></p>
        </div>
        <div class="footer-right" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <h1>Get In Touch</h1>
            <p><a href="https://www.google.com/maps/place/Ladies+World+Tailors/@9.8948766,78.1199914,21z/data=!4m5!3m4!1s0x0:0x32f05842e8170525!8m2!3d9.8947924!4d78.1200373">Ganapathy Nagar, Villapuram, Madurai <i class="fa fa-map-marker"></i></a></p>
            <p><a href="https://aswathsudhar.github.io/ladiesworld/">https://aswathsudhar.github.io/ladiesworld/<i class="fa fa-paper-plane"></i></a></p>
            <p><a href="tel:+91 9965266390">+91 9965266390<i class="fa fa-phone"></i></a></p>
        </div>
    </div>

    <div class="social-links">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-youtube-play"></i>
        <p> Ladies World website @2021</p>
    </div>
</section>