* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration-line: none;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px;
    background: #ed1165;
    z-index: 2;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all .5s ease;
}

.sidebar header {
    font-size: 22px;
    color: white;
    text-shadow: 4px 5px 3px black;
    text-align: center;
    line-height: 70px;
    background: #ed1165;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-weight: 900;
    position: relative;
    right: 20px;
}

.sidebar ul a {
    z-index: 2;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;
}

ul li:hover a {
    padding-left: 50px;
}

.sidebar ul a i {
    margin-right: 16px;
}

#check {
    display: none;
}

label #btn,
label #cancel {
    position: absolute;
    cursor: pointer;
    background: #ed1165;
    border-radius: 3px;
}

label #btn {
    position: fixed;
    z-index: 1;
    left: 10px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 2px 11px;
    transition: all .3s;
    box-shadow: 3px 6px 5px #2d2d2d;
}

label #cancel {
    position: fixed;
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #eee;
    padding: 4px 9px;
    transition: all .3s ease;
}

#check:checked~.sidebar {
    left: 0;
}

#check:checked~label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked~label .sidebar ul a {
    left: 195px;
}

#check:checked~label #cancel {
    left: 195px;
}

a:not([href]):not([tabindex]) {
    text-decoration: none;
    cursor: pointer;
    color: white;
}


/*------------------------------------CUSTOMER_POP-UP-----------------------*/

* {
    box-sizing: border-box;
}


/* Button used to open the contact form - fixed at the bottom of the page */

.open-button {
    background-color: transparent;
    color: #ed1165;
    padding: 0px auto;
    border: none;
    cursor: pointer;
    opacity: 1;
    position: fixed;
    bottom: 20px;
    left: 15px;
    font-size: 40px;
    /* height: 100px; */
    z-index: 1;
    text-shadow: 3px 4px 5px #230e0e;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    border-radius: 5px;
    box-shadow: 0px 0px 13px 1px #ed1165;
}

.form-container {
    max-width: 500px;
    padding: 10px;
    background-color: white;
}

.form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #ed1165;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

#CloseBtn {
    text-align: left;
    position: relative;
    left: 100px;
    cursor: pointer;
    color: red;
}

@media screen and (max-width:770px) {
    #CloseBtn {
        text-align: left;
        position: relative;
        left: 25px;
        cursor: pointer;
    }
}

@media screen and (max-width:770px) {
    .open-button {
        background-color: transparent;
        color: #ed1165;
        padding: 0px auto;
        border: none;
        cursor: pointer;
        opacity: 1;
        position: fixed;
        bottom: 23px;
        right: 0;
        width: 64px;
        height: 50px;
        z-index: 1;
    }
}