<div style="position: absolute;">
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fa fa-bars" id="btn"></i>
        <i class="fa fa-arrow-circle-left" id="cancel"></i>
    </label>

    <div class="sidebar">
        <header>LADIES WORLD</header>
        <ul>
            <li><a (click)="toHome()" routerLinkActive="active"><i class="fa fa-home"></i>Home</a></li>
            <li><a (click)="toFeatures()" routerLinkActive="active"><i class="fas fa-qrcode"></i>Features</a></li>
            <li><a (click)="toService()" routerLinkActive="active"><i class="fas fa-link"></i>Services</a></li>
            <li><a (click)="toTestimonial()" routerLinkActive="active"><i class="fa fa-users"></i>Testimonial</a></li>
            <li><a (click)="toContact()" routerLinkActive="active"><i class="fa fa-phone"></i>Contact Us</a></li>
            <li><a href="https://www.google.com/maps/place/Ladies+World+Tailors/@9.8948766,78.1199914,21z/data=!4m5!3m4!1s0x0:0x32f05842e8170525!8m2!3d9.8947924!4d78.1200373"><i class="fa fa-map-marker"></i>Find Location</a></li>
        </ul>
    </div>
</div>


<!---------------------------------POP-UP--------------------------------->
<!-- <i class="fa fa-envelope-o"></i>-->
<i class="fa fa-commenting-o open-button" width="10%" height="10%" (click)="openForm()"></i>
<!-- <img id="fb_msg_icon" class="open-button" width="10%" height="10%" (click)="openForm()" src="assets/logo.png"> -->

<div class="form-popup" id="myForm">
    <form [formGroup]="CustomerForm" class="form-container" ngNativeValidate>
        <h3 style="text-align: center;">Submit Your Details <span id="CloseBtn"><i class="fa fa-window-close" (click)="closeForm()"></i></span></h3>

        <label for="name"><b>Name</b></label>
        <!-- <input type="text" placeholder="Enter name" name="name" required> -->
        <input type="text" formControlName="names" name="names" required/>

        <label for="name"><b>Mobile Number</b></label>
        <input type="text" formControlName="number" (keypress)="numberOnly($event)" maxlength="10" required/>

        <label for="name"><b>Address</b></label>
        <input type="text" formControlName="address" required/>

        <label for="name"><b>Comments</b></label>
        <input type="text" formControlName="comments" required/>

        <input type="submit" class="btn" (click)="Submit()" />
    </form>
</div>